<!DOCTYPE html>
<html>

<head>
	<title>sub-{{title}}</title>
	<link rel="stylesheet" href="../CerPhaS_style.css">
</head>

<body>

<div id="menu">
	<b><i>Shapes</i></b><br>
	<br>
	{% if not menu %}{% block menu -%}
	<a href="#0">Phase {{phase}}</a><br>
	<p class="small">
		{% if stratum %}Stratum<br>
		{% for s in stratum -%}
		&nbsp;&nbsp;&nbsp;<a href="{{s}}.htm">{{'s'+s[1:].lstrip('0').ljust(2,'0')}}</a><br>
		{% endfor %}{% endif %}
		<br>
		{% if feature %}Feature<br>
		{% for f in feature -%}
		&nbsp;&nbsp;&nbsp;<a href="{{f}}.htm">{{f[0]+f[1:3].lstrip('0')+'f'+f[4:].lstrip('0').ljust(2,'0')}}</a><br>
		{% endfor %}{% endif %}
	</p>
	{% endblock menu %}{% else %}{% print(menu) %}{% endif %}
</div>


<div id="main"><a name="0"></a>
	{% if strata=='phase' -%}{% if before %}<div class="left"><a href="phase{{before}}.htm">&#60; Phase {{before}}</a></div>{% endif %}
	{% if after %}<div class="right"><a href="phase{{after}}.htm">Phase {{after}} &#62;</a></div>{% endif %}{% endif %}
	<br>
	 
	<center>
		<h2>Shape Synopsis</h2>
        {% set first = data[0][1][0] %}
		{%- if strata in ['phase','stratum','feature'] -%}
			<h1>Phase {{phase}}<a href="/MZ/A/MZ/TEXTS/A2/phases/MZA.htm"><small><small><sup>MZA</sup></small></small></a>
			{%- if strata == 'stratum' %} - Stratum {{first[5]}}<a href="/MZ/A/JP/TEXTS/A2/{{first[6]}}.html"><small><small><sup>{{first[6]}}</sup></small></small></a>
			{%- elif strata == 'feature' %} - Feature <a href="/MZ/A/{{first[3][:3]}}/D/F/{{first[4].rjust(4,'0')}}.htm">{{title}}</a>{% endif %}</h1>
		{%- elif strata == 'ware' %}<h1>Ware <a href="/MZ/A/CERAMICS/TEXTS/A2/ware-{{title}}.htm">{{title}}</a></h1>
		{%- elif strata == 'overall' %}<h1>Shape <a href="/MZ/A/CERAMICS/TEXTS/A2/shapes-codes.htm#{{first[1][:1]}}">{{title}}</a></h1>
		{%- endif %}
		<a href="/MZ/A/CERAMICS/TEXTS/A1/authorship.htm">Authorship</a><br>
		Updated {{date}}<br>
	</center>
	<br>
	
	{% if strata == 'phase' -%}<p>Brief overview; see <a href="/MZ/A/MZ/TEXTS/A2/phases/h{{phase}}.htm">phase description</a> in digital book MZ sitewide.<br>
	For a description of bowls, jars, pots, etc., see <a href="../../../texts/a2/shapes-main.htm">main shapes</a> section in the left-hand menu.<br>
	For shapes within individual strata and features within this phase, click links in the right-hand menu.<br></p>{% endif -%}
	<br>
	
	{% for entry in index -%}
	{% if entry %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#{{entry.replace(' ','_')}}">{{entry.capitalize()}}</a>{% endif %}<br>
	{% endfor %}
	<br>
	
	{% for new_shape,sub in data %}
	<h4 id="{{new_shape.replace(' ','_')}}">{{new_shape.capitalize()}}</h4>
	<table class="sherds">
	{% for sherd,shape_code,ware,sherd0,feature,stratum,stratum_ss,link,image in sub %}
	{% if loop.index is odd %}<tr>{% endif %}
		<td class="text">
			{{sherd.replace('-','&ndash;')}}<br>
			shape:&nbsp;<a href="/MZ/A/CERAMICS/TEXTS/A2/shapes-codes.htm#{{shape_code}}">{{shape_code}}</a><br>
			{% if ware -%}ware:&nbsp;<a href="/MZ/A/CERAMICS/TEXTS/A2/ware-{{ware}}.htm">{{ware}}</a><br>{% endif %}
			{% if feature -%}feature:&nbsp;<a href="/MZ/A/{{sherd0[:3]}}/D/F/{{feature.rjust(4,'0')}}.htm">f{{feature}}</a><br>{% endif %}
			{% if stratum -%}stratum:&nbsp;<a href="/MZ/A/JP/TEXTS/A2/{{stratum_ss}}.html">s{{stratum}}<small><sup>{{stratum_ss}}</sup></small></a>{% endif %}
		</td>
		<td>
			<a href="{{ link }}">
				<img src={% if image %}"/MZ/A/{{image[2:5]}}/G/LoRes/{{image[2:8]}}/{{image}}"{% else %}""{% endif %} alt="details" border="1" />
			</a>
		</td>
	{% if loop.index is even or loop.last %}</tr>{% endif %}
	{%- endfor %}
	</table>
	<a href="#0"><small><small>Back to top</small></small></a><br>
	<br><br>
	{%- endfor %}
	<br><br>
</div>

</body>
</html>
