A:link {	text-decoration: none; font-family: Palatino Linotype; color: maroon; text-decoration: underline; }
A:visited {	text-decoration: none; font-family: Palatino Linotype; color: maroon; text-decoration: underline; }
A:hover {	text-decoration: underline; }
H1 {		font-size: 30px; font-family: Palatino Linotype; color: maroon; text-align: center; width: 600px; }
H2 {		font-size: 26px; font-family: Palatino Linotype; color: maroon; text-align: center; width: 600px; }
H3 {		font-size: 22px; font-family: Palatino Linotype; color: maroon; }
H4 {		font-size: 18px; font-family: Palatino Linotype; color: maroon; }
H5 {		font-size: 14px; font-family: Palatino Linotype; color: maroon; }

H7 {		font-size: 11px; font-family: Palatino Linotype; color: maroon; }
.H7 {		font-size: 11px; font-family: Palatino Linotype; color: maroon; }

ul {		font-size: 16px; font-family: Palatino Linotype; color: maroon; }
P.main {	font-size: 22px; font-family: Palatino Linotype; color: maroon; }
P {			font-size: 18px; font-family: Palatino Linotype; color: maroon; width: 600px; }
P.10 {		font-size: 10px; font-family: Palatino Linotype; color: maroon; }
P.12 {		font-size: 12px; font-family: Palatino Linotype; color: maroon; text-align: right; }
P.note {	font-size: 14px; font-family: Palatino Linotype; color: maroon; }
P.16 {		font-size: 16px; font-family: Palatino Linotype; color: maroon; }
P.20 {		font-size: 20px; font-family: Palatino Linotype; color: maroon; }
P.24 {		font-size: 24px; font-family: Palatino Linotype; color: maroon; }
P.30 {		font-size: 30px; font-family: Palatino Linotype; color: maroon; }
P.path {	font-size: 10px; font-family: Palatino Linotype; color: maroon; }
.small {	font-size: 12px; font-family: Palatino Linotype; color: maroon; }
P.italics {	font-size: 17px; font-family: Palatino Linotype; color: maroon; text-align: left; font-style: italic; }
TD {		font-size: 16px; font-family: Palatino Linotype; color: maroon; vertical-align: top; }

TD.small {	font-size=10; font-family: Palatino Linotype; color: maroon; line-height: 105%; }
TD small {	display: inline-block; }

blockquote {font-size: 13px; font-family: Palatino Linotype; color: maroon; margin-top: 0; }




