
{# TODO: convert to <ul><li>, see "_nav_AVASA.shtml" #}


&nbsp;&nbsp;&nbsp;<!-- <a href="sub-intro.htm" target=gB_home> -->1.Introduction</a><br>
I.&nbsp;N<small>ARRATIVE</small><BR>
&nbsp;&nbsp;&nbsp;<!-- <a href="sub-book.htm" target=gB_home> -->2.The&nbsp;main&nbsp;frame</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-note.htm" target="notes">3.Notes</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-temi.htm" target="themes">4.Themes</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-history.htm" target="history">5.History&nbsp;of&nbsp;discipline</a><br>


II.&nbsp;A<small>RGUMENTS</small><BR>
&nbsp;&nbsp;&nbsp;<a href="sub-bibl.htm" target="bibl">6.Bibliography</a><br>
&nbsp;&nbsp;&nbsp;<!-- <a href="sub-excerpts.htm" target=gB_home -->7.Excerpts</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-synopses.htm" target=gB_home>8.Reviews</a><br>
&nbsp;&nbsp;&nbsp;<!-- <a href="sub-monographs.htm" target=gB_home> -->9.Monographs</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-sources.htm" target="sources">10.Sources</a><br>

III.&nbsp;U<small>TILITIES</small><BR>
&nbsp;&nbsp;&nbsp;<a href="sub-indice.htm" target="indices">11.Indices</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-authorship.htm" target=gB_home>12.Authorship</a><br>
&nbsp;&nbsp;&nbsp;<!-- <a href="sub-data.htm" target=gB_home> -->13.Data&nbsp;handling</a><br>
&nbsp;&nbsp;&nbsp;<a href="sub-archives.htm" target=gB_home>14.Archives</a><br>



{% if page.nav %}{% include page.folder+'/'+page.nav+'.html' %}{% endif %}

