A:link {text-decoration:none; font-family: Palatino Linotype; color:maroon; text-decoration:underline}
A:visited {text-decoration:none; font-family: Palatino Linotype; color: maroon; text-decoration:underline}
A:hover {text-decoration:underline}
H1 {font-size: 30; color: "800000"; font-family: Palatino Linotype; text-align: center; width: 600}
H2 {font-size: 26; color: maroon; font-family: Palatino Linotype; text-align: center; width: 600}
H3 {font-size: 22; color: maroon; font-family: Palatino Linotype}
H4 {font-size: 18; color: maroon; font-family: Palatino Linotype}
H5 {font-size: 14; color: maroon; font-family: Palatino Linotype}
ul {font-size=22; color: #800000; font-family: Palatino Linotype}
P.main {font-size: 22;  font-family: Palatino Linotype; color: #800000; color: maroon}
P {font-size: 18; font-family: Palatino Linotype; color: maroon; width: 600}
P.10 {font-size: 10; font-family: Palatino Linotype; color: #800000}
P.12 {font-size: 12; font-family: Palatino Linotype; color: #800000; text-align: right}
P.note {font-size: 14; font-family: Palatino Linotype; color: #800000}
P.16 {font-size=16; font-family: Palatino Linotype; color: #800000}
P.20 {font-size: 20; font-family: Palatino Linotype; color: #800000}
P.24 {font-size: 24; font-family: Palatino Linotype; color: #800000}
P.30 {font-size: 30; font-family: Palatino Linotype; color: #800000}
P.path {font-size: 10; font-family: Palatino Linotype; color: #800000}
P.italics {text-align: left; font-size: 17; font-style: italic; font-family: Palatino Linotype; color: #800000}
TD {font-size=14; font-family: Palatino Linotype; color: maroon; valign: top}
